NODE_ENV=development

# Banco de dados PostgreSQL (Docker)
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=kanban_db

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui_mude_em_producao

# Servidor
PORT=3000

